<kbn-management-app section="elasticsearch">
  <div class="kbn-management-security container" ng-if="forbidden">
    You do not have permission to manage users/roles. Please contact your administrator.
  </div>

  <div class="kbn-management-security container-fluid" ng-if="!forbidden">
    <div class="row">
      <div class="col-md-9">
        <form role="form">
          <input aria-label="Filter" ng-model="query" class="form-control" type="text" placeholder="Filter..." />
        </form>
      </div>
      <div class="col-md-3">
        <button ng-click="deleteRoles()" class="btn btn-danger" ng-disabled="!selectedRoles.length">Delete</button>
        <a href="#/management/elasticsearch/roles/edit" ng-click="newRole()" class="btn btn-default">New Role</a>
      </div>
    </div>

    <div class="row">
      <table class="table table-striped">
        <thead>
          <tr>
            <th><input type="checkbox" ng-click="toggleAll()" ng-checked="allSelected()" /></th>
            <th ng-click="toggleSort(sort, 'name')">
              Role
              <i aria-hidden="true" class="fa" ng-show="sort.orderBy == 'name'" ng-class="{'fa-caret-down': sort.reverse, 'fa-caret-up': !sort.reverse}"></i>
            </th>
            <th ng-click="toggleSort(sort, 'description')">
              Description
              <i aria-hidden="true" class="fa" ng-show="sort.orderBy == 'description'" ng-class="{'fa-caret-down': sort.reverse, 'fa-caret-up': !sort.reverse}"></i>
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="role in roles | orderBy:'name' | filter:query | orderBy:sort.orderBy:sort.reverse">
            <td>
              <input type="checkbox" ng-click="toggle(selectedRoles, role)" ng-checked="includes(selectedRoles, role)" ng-disabled="role.metadata._reserved" />
            </td>
            <td>
              <a ng-href="#/management/elasticsearch/roles/edit/{{role.name}}">{{role.name}}</a>
            </td>
            <td>{{role.description}}</td>
            <td>
              <div ng-if="role.metadata._reserved">
                <i class="fa fa-question-circle" title="Reserved roles are built-in and cannot be removed or modified."></i>
                Reserved
              </div>
            </td>
          </tr>
          <tr ng-show="!(roles | filter:query).length">
            <td colspan="4">No <span ng-show="query">matching</span> roles found.</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</kbn-management-app>
